# External packages folder
vendor/

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/

glide
glide.exe
*.a
*.sublime-project
*.sublime-workspace
dist/
.DS_Store
.idea
.project

plugin/
.plugin/
glide.lock
docker-auth-test
